$main-text-color: #3A4562; 
   
  
   
// -- fonts --// 
 
%proxima-nova-700{ 
  font-family: 'Proxima Nova'; 
  font-weight: 700; 
} 
  
%proxima-nova-600{ 
  font-family: 'Proxima Nova'; 
  font-weight: 600; 
}  
 
%proxima-nova-400{ 
  font-family: 'Proxima Nova'; 
  font-weight: 400; 
} 
 
%roboto-400{ 
  font-family: 'Roboto'; 
  font-weight: 400; 
} 